<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update booking</title>
    <link rel="stylesheet" href="MyCss.css">
</head>
<body>
<div id="Wrapper">
<form action="/UpdateBookingByID" method="get">

    <table>
        <tr>
            <td>
                <label>Booking-ID:</label>
            </td>
            <td>
                <input type="bookingID" name="bookingID"/>
            </td>
        </tr>
    </table>

    <input type="submit" class="myButton" value="bookingID">
</form>
</div>
</body>
</html>