<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Booking</title>
    <link rel="stylesheet" href="MyCss.css">
</head>
<body>

<h1>Opdater booking</h1>

<div id="Wrapper" >

<form action="/SaveUpdateBookingByID" method="post">

    <table>
        <tr>
            <td>
                <p>Booking-ID: </p>
            </td>
            <td>
                <input type="text" name="bookingID" th:value="${booking.bookingID}" readonly/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Aktivitets-ID: </p>
            </td>
            <td>
                <input type="text" name="activityID" th:value="${booking.activityID}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Deltagere: </p>
            </td>
            <td>
                <input type="text" name="participants" th:value="${booking.participants}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Dato: </p>
            </td>
            <td>
                <input type="text" name="date" th:value="${booking.date}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Tidspunkt: </p>
            </td>
            <td>
                <input type="text" name="time" th:value="${booking.time}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>Kontaktperson: </p>
            </td>
            <td>
                <input type="text" name="contactName" th:value="${booking.contactName}"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Telefonnummer: </p>
            </td>
            <td>
                <input type="text" name="contactPhone" th:value="${booking.contactPhone}"/>
            </td>
        </tr>
        <tr>
            <td>
                <p>E-mail: </p>
            </td>
            <td>
                <input type="text" name="contactEmail" th:value="${booking.contactEmail}"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Instruktør: </p>
            </td>
            <td>
                <input type="text" name="instructor" th:value="${booking.instructor}"/>
            </td>
        </tr>

        <tr>
            <td>
                <p>Kundetype </p>
            </td>
            <td>
                <input type="text" name="corporate" th:value="${booking.corporate}"/>
            </td>
        </tr>



    </table>

    <input type="submit" value="Opdater">

</form>
</div>

</body>
</html>