<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>ViewBookingEquip</title>
    <link rel="stylesheet"  href="/MyCss.css" />
</head>
<body>
<div id="Wrapper">
    <div id="Content">

    <div id="ContentBoxLeft"style="background-color: red; width: 40%; display: inline">
<form action="fetchBooking" method="get">
        <table>
            <tr>
                <td>
                    <p>Booking-ID: </p>
                </td>
                <td>
                    <input type="text" name="bookingID" th:value="${booking.bookingID}" readonly/>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Aktivitets-ID: </p>
                </td>
                <td>
                    <input type="text" name="activityID" th:value="${booking.activityID}"readonly/>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Deltagere: </p>
                </td>
                <td>
                    <input type="text" name="participants" th:value="${booking.participants}"readonly/>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Dato: </p>
                </td>
                <td>
                    <input type="text" name="date" th:value="${booking.date}"readonly/>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Tidspunkt: </p>
                </td>
                <td>
                    <input type="text" name="time" th:value="${booking.time}"readonly/>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Kontaktperson: </p>
                </td>
                <td>
                    <input type="text" name="contactName" th:value="${booking.contactName}"readonly/>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Telefonnummer: </p>
                </td>
                <td>
                    <input type="text" name="contactPhone" th:value="${booking.contactPhone}"readonly/>
                </td>
            </tr>
            <tr>
                <td>
                    <p>E-mail: </p>
                </td>
                <td>
                    <input type="text" name="contactEmail" th:value="${booking.contactEmail}"readonly/>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Instruktør: </p>
                </td>
                <td>
                    <input type="text" name="instructor" th:value="${booking.instructor}"readonly/>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Kundetype </p>
                </td>
                <td>
                    <input type="text" name="corporate" th:value="${booking.corporate}"readonly/>
                </td>
            </tr>


        </table>
</form></div>
    </div>
<div id="ContentBoxRight" style=" margin-left: 50px; background-color: green; width: 40%; display: inline;">
    <table>
        <tr>
            <th><h3 id = "ViewBooking_participants" th:text="'Der er tilmeldt ' +${booking.participants}+' personer'">Der er tilmeldt x personer</h3></th>
        </tr>
        <tr>
            <td><h3>For hver tilmeldte skal der klargøres følgende:</h3></td>
        </tr>
        <tr th:each="equipment: ${equipmentList}">
            <td class="ViewBooking_equipment" th:text="${equipment.equipmentName}">Hjelm</td>
        </tr>

    </table>


</div>
    <div>
        <br><!-- DELETE BOOKING -->
        <a class="myButton" th:href="@{'/deleteBooking/'+${booking.bookingID}} ">Slet booking</a>
    </div>

    </div>
</body>
</html>