<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>ViewBookingEquip</title>
    <link rel="stylesheet"  href="/MyCss.css" />
</head>
<body>
<div id="Wrapper">
    <div id="Content">
<table>
    <tr>
        <th><h3 th:text="'Der er tilmeldt ' +${booking.participants}+' personer'">Der er tilmeldt x personer</h3></th>
    </tr>
    <tr>
        <td><h3>For hver tilmeldte skal der klargøres følgende:</h3></td>
    </tr>
    <tr th:each="equipment: ${equipmentList}">
        <td th:text="${equipment.equipmentName}">Hjelm</td>
    </tr>


</table>
<form method="get" id="DeleteBookingForm" action="/deleteBooking/">

    <input class="myButtonAccept" type="submit" form="DeleteBookingForm" value="Delete"/>
</form>
    </div>
</div>
</body>
</html>